html {
    background-color: #9dcaf7;
}
body {
    width: 95%;
    margin: 15px auto;
    background-color: white;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url(../images/shsuboxlogo.jpg);
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed
}
article {
    width: 75%;
    column-count: 3;
    column-rule: 5px dashed blue;
    column-gap: 2em;
    margin-left: 2em;
}
article h1 {
    column-span: all;
    color: blue;
}
#introduction {
    color: blue;
}
#method {
    color: blue;
}
#analysis {
    color: blue;
}
#measurement {
    color: blue;
}
#structure {
    color: blue;
}
#results {
    color: blue;
}
#discussion {
    color: blue;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
}
aside {
    border: 2px solid black;
    width: 20%;
    float: right;
    background-color: #aad3fd;
    margin: auto;
}
footer {
    text-align: center;
    border-top: 2px solid blue;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    margin: 10px;
    padding: 10px;    
    border-bottom: 2px solid blue;
}
.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  background-color: blue;
  margin: 1px;
  width: 6em;
}
.ol1 {
    list-style-type: upper-roman;
}
.ol2 {
    list-style-type:square;
}
.ol3 {
    list-style-type: lower-alpha;
}